.container {
    display: flex;
    justify-content: center;
}

.box {
    border: 1px black solid;
}

.heading {
    text-align: center;
}

.utilities {
    display: block;
    justify-content: center;
}

.bars {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.information {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.level, .direction{
    width: 200px;
    height: 30px;
}

.totalHealth, .totalMoney {
    border: 1px black solid;
    width: 100px;
    background-color: lightgray;
}

.text {
    text-align: center;
    border-bottom: 1px black solid;
}

.health {
    background-color: green;
    padding-top: 15px;
    padding-bottom: 15px;
}

.money {
    background-color: gold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.restart {
    border-radius: 10px;
    border: 2px black solid;
    background-color: gray;
}

.control {
    text-align: center;
}